<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW Portifólio</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<html>
<body>
    <header id="header">
        <div class="container">
            <div class="flex">
                <img src="img/513498-200.png" alt="">
                <nav>
                    <ul> 
                        <strong>
                            <li>Apresentação</li>
                            <li>Projetos</li>
                            <li>Contatos</li>
                        </strong>
                    </ul>
                </nav>
            </div><!--flex-->
        </div><!--container-->
    </header>
    
    <div class="fundo">
        
        <h1 class="max">Saudações,<br>meu nome é <span>Miguel de Almeida</span></h1>
   
      <h2 class="min">sou Desenvolvedor Júnior e este é meu portifólio.<h2>
      
    </div><!--fundo-->

    <div class="cardtxt">
        <div class="icon">
            <img src="img/img--01.svg" alt="img1">
        </div> <!--icon-->
        <div class="contentxt">
            <h3>Sobre mim </h3>
            <p>Sou natural de SP moro em fortaleza alguns anos 
                tenho 23 anos 
                iniciei recentemente meus estudos em programação  
                sou discreto e gosto das minhas coisas organizadas 
                sou criativo , divertido , facil de conviver 
                gosto de feedback , gosto de ajudar , me vejo proativo
                não gosto de perder , não gosto de persistir em um erro 
                me sinto mais engajado ao aprender o assunto estudado  
                sou muito determinado , meu maior medo é não concretizar meus objetivos  
                gosto de praticar ciclismo e natação </p>
         </div> <!--contentxt-->
    </div><!--cardtxt-->

    <div class="next">
        <svg class="arrows">
          <path class="a1" d="M0 0 L30 32 L60 0"></path>
          <path class="a2" d="M0 20 L30 52 L60 20"></path>
          <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
      </div> <!--next-->

      <div class="content-container">
        <div class="project-container">
            <div class="project-content">
                <div class="position-container rigth">
                    <div class="project-card">
                        <image class="project-image" src="./img/project001.jpeg"/>
                        <p class=project-txt> Este foi o meu primeiro projeto, <br> nele utilizei meus conhecimentos básicos em HTML e CSS 
                            onde criei o layout inicial e as demais abas, realizei a implementação de Javascript para fins de estudo e prática.
                            Minha ideia era criar um site para pessoas interessadas em fazer intercâmbio ou que tenham alguma curiosidade sobre o assunto, 
                            é um site com alguns efeitos visuais e de interação com o usuário. 
                             </p>
                    </div><!--project-card-->
                </div> <!--position-container rigth-->

                <div class="position-container left " >
                    <div class="project-card card-reverse">
                        <image class="project-image" src="./img/project02.jpeg"/>
                        <p class=project-txt>
                            Este é um projeto de preenchimento de formulário, utilizei as lingugens CSS , HTML e JavaScript
                             para conseguir implementar algumas funcionalidades, este projeto me exigiu certos conhecimentos 
                             em Javascript, ele reperesenta um pouco das minhas habilidades nessas linguagens. 
                                </p>
                    </div><!--project-card-->
                </div> <!--position-container left-->

                <div class="position-container rigth">
                    <div class="project-card">
                        <image class="project-image" src="./img/project03.jpeg"/>
                        <p class=project-txt>
                            Este projeto é uma lista de tarefas, <br> Nele utilizei as linguagens React e CSS 
                            fiz este projeto especificamente para meu portifolio , porem já estou o 
                           utilizando diariamente para facilitar meu controle sobre as atividades. 
                           Me exigiu bastante dedicação e algumas horas de estudo para conseguir finalizar este projeto.
                          Nele o usúario pode adicionar itens, marca-los quando conclúidos e excluir qualquer atividade.  </p>
                    </div><!--project-card-->
                </div><!--position-container rigth-->

                <div class="position-container left " >
                    <div class="project-card card-reverse">
                        <image class="project-image" src="./img/nodejsimg.jpg"/>
                        <p class=project-txt>
                            Este projeto ainda está em desenvolvimento, <br> Nele o usuário tera acesso a alguns serviços, como conferir itens,
                            adicionar itens novos e remove-los, basicamente será um projeto de controle de estoque que pode ser utilizado por lojas de 
                            roupas, comércio em geral e galpões de estoques. Neste projeto além do Node.js estou utilizando JavaScript e CSS. 
                        </p>

                    </div><!--project-card-->
                </div> <!--position-container left-->

            </div><!-- project-content -->
        </div> <!-- "project-container" -->
      </div><!-- content-container -->   

      <div class="content-container">

        <div class="container-form">

            <form
         action="https://formspree.io/f/mwkjdede"
         method="POST">
            
         <label>
            Seu nome:
            <input type="text" name="name">
           </label>

         <label>
            Celular:
            <input type="number" name="number">
           </label>
         
          <label>
           Email:
           <input type="email" name="email">
          </label>

         <label>
           Sua mensagem:
           <textarea name="message"></textarea>
         </label>
         

         <button type="submit">Enviar</button>

          <div class="icons">

            <a href="https://www.linkedin.com/in/miguel-de-almeida-333b07242/" target="_blank">
                <img id="linkedin" src="./img/linkedin-img.png" alt="">
                
             </a>
    
             <a href="https://github.com/Miguelglg" target="_blank" >
                <img id="github" src="./img/github-img-removebg-preview.png" alt="">
             </a>

         </div>

         <h6>(Este Formulário me ajuda a contactá-lo caso tenha gostado do meu Portifólio, 
            você também me encontra no Linkedin e Github basta clicar nos ícones. 
            Deixe seu feedback se quiser, isso me ajuda a melhorar ! Obrigado.)
         </h6>

         </form>

        </div><!--container-form-->
      </div><!--content-container-->

     

      <script src="../components/index.js"></script>
</body>
</html>